#tplbaropt
{
    float: right;
    font-size: 0.9em;
}
#tplbarclr
{
    clear: both;
}

#artlst
{
    margin-right: 0;
    height: 400px;
    text-align: left;
    /*white-space: nowrap;*/
    overflow-x: hidden;
    overflow-y: auto;
}
div.art
{
    height: 45px;
    overflow: hidden;
    white-space: nowrap;
}
div.art-cl
{
    border-bottom: 2px solid white;
    background-color: #e1f0f4;
}
div.art-op
{
    border: 2px solid #48898c;
    border-bottom: 1px solid #e1f0f4;
    background-color: white;
}
div.arttog
{
    position: relative;
    float: left;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
}
div.arttog-un
{
    background-position: -165px 0px;
}
div.arttog-ck
{
    background-position: -165px -20px;
}
div.artlab
{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
}
div.artlab a
{
    text-decoration: none;
    color: black;
}
div.artlab a:hover
{
    color: #164a66;
}
span.artch
{
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    color: #91a0aa;
}
span.arttt
{
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
}
div.artlnk
{
    position: relative;
    float: left;
    top: 15px;
    left: 10px;
    width: 23px;
    height: 20px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
    background-position: -165px -40px;
}
div.artlnk a
{
    display: block;
    width: 100%;
    height: 100%;
}
div.artdte
{
    float: right;
    font-size: 0.9em;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
}
div.artclr
{
    clear: both;
}
div.artview
{
    border: 2px solid #48898c;
    border-top: 0;
    padding: 0px 10px 0px 38px;
    white-space: normal;
    background-color: white;
}
div.artview h1
{
    font-size: 1.5em;
    padding: 15px 0 15px 0;
    max-width: 650px;
}
div.artbody
{
    font-size: 1em;
    /*text-align: justify;*/
    padding-bottom: 15px;
    max-width: 650px;
    overflow: visible;
}

#arttop
{
    margin-right: 0;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    background-color: #48898c;
    /* -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; */
}
#navbar
{
}
button.navbtn
{
    width: 100px;
    margin-left: 5px;
}
#articleprev
{
    /*
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    */
}
#articlenext
{
    /*
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    */
}
#navclr
{
    clear: both;
}

#midmenu
{
    position: absolute;
    top: 135px;
    left: 50px;
    width: 180px;
    background-color: #48898c;
    text-align: left;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    overflow: hidden;
}
#midmenu h1
{
    font-size: 1em;
    padding: 10px;
    color: white;
}
div.chlst
{
    margin: 0px 0px 10px 10px;
    padding: 5px 5px 5px 10px;
    color: #2780b1;
    /*white-space: nowrap;*/
    overflow-x: hidden;
    background-color: #e1f0f4;
    max-height: 300px;
    border-right: 5px solid #e1f0f4;
}
div.chlstsc
{
    height: 200px;
    overflow-y: auto;
}
div.ch
{
    font-size: 0.8em;
    line-height: 1.7em;
}
#chall
{
}

#feeditemblank
{
    display: none;
}
#articleblank
{
    display: none;
}
#contentblank
{
    display: none;
}
