<p>Olá!</p>

<p>Foi solicitado através de nosso site a recuperação de acesso ao seu
perfil.</p>

<p>Porém não foi possívem encontrar nenhuma informação cadastrada anteriormente
a partir do endereço de e-mail {EMAIL}.</p>

<p>Para criar um novo perfil, acesse o endereço abaixo e clique no link "não
cadastrado" e siga as instruções:</p>

<p><a href="{BASE_URL}" target="_blank">{BASE_URL}</a></p>

<p>Caso esta mensagem não tenha sido solicitado por você, apenas ignore-a e
desculpe-nos pelo incômodo!</p>
