<p>Olá</p>

<p>Foi solicitado através de nosso site o cadastro de um novo perfil de
acesso.<p>

<p>Porém verificamos que já existe um perfil de acesso criado a partir deste
endereço de e-mail. Para utilizar sua conta, basta acessar o endereço abaixo e
utilizar o e-mail e senha já cadastrados.</p>

<p><a href="{BASE_URL}" target="_blank">{BASE_URL}</a></p>

<p>Caso não seja possível recordar a senha, utilize o endereço abaixo para
criar uma nova senha:</p>

<p><a href="{PASSWORD_URL}" target="_blank">{PASSWORD_URL}</a></p>

<p>Caso esta mensagem não tenha sido solicitado por você, apenas ignore-a e
desculpe-nos pelo incômodo!</p>
