/* middle */

div.midct-cen
{
    padding: 0px 20px 25px 20px;
    margin-top: -10px;
    margin-bottom: -20px;
}
div > div.midct-cen { margin-top: 0px; }

div.confct
{
    float: left;
    width: 200px;
    height: 270px;
    color: white;
    margin-right: 20px;
    padding-bottom: 10px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
div.conf-title
{
    font-size: 2.6em;
    font-weight: bold;
    color: #2780B1;
    padding-top: 5px;
    margin-bottom: 25px;
}

#pwdchange-ct
{
    text-align: left;
}
div.form-title
{
    height: 35px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    color: #2780B1;
}
input.intxt-half
{
    width: 270px;
}
input.intxt-full
{
    width: 565px;
}
textarea.intxa-full
{
    width: 565px;
    height: 100px;
}
select.insel
{
    width: 270px;
}

input.intxt-full
{
    width: 800px;
    height: 43px;
    line-height: 43px;
    font-size: 2em;
}
textarea.intxa-full
{
    width: 800px;
    height: 200px;
    line-height: 43px;
    font-size: 2em;
}
select.insel-full
{
    width: 800px;
    height: 43px;
    line-height: 43px;
    font-size: 2em;
}
div.form-row
{
    height: 80px;
}

#pwdchangesubmit
{
    width: 200px;
    height: 30px;
}

#pwdchange-msg
{
    display: none;
    text-align: left;
    font-size: 0.9em;
    color: red;
    margin-top: 10px;
}

