#tplbaropt
{
    float: right;
    font-size: 0.9em;
}
#tplbarclr
{
    clear: left;
}

#addnewfeedform
{
    display: none;
    text-align: left;
    margin-bottom: 25px;
}
#addnewfeedbtn
{
    float: left;
    margin-top: 15px;
}
#addmessage
{
    font-size: 0.8em;
    color: red;
    margin-top: 10px;
}

#feedlistarea
{
    text-align: left;
}
div.feed
{
    margin-bottom: 10px;
}
div.feedtop
{
    background-color: #48898c;
    padding: 10px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
div.feedtop button
{
    float: right;
    margin-top: -28px;
}
div.feeddndhdr
{
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    margin-top: 4px;
    cursor: move;
    background-image: url('./image/dashboard/btn-dnd.png');
}
div.feedtit
{
    color: white;
    font-weight: bold;
}
div.feedurl
{
    font-size: 0.8em;
    margin-top: 2px;
    color: whitesmoke;
}
div.feedurl span
{
    padding: 2px 5px 2px 2px;
    background-color: #144a4c;
}
button.feededitbtn
{
}
button.feeddeletebtn
{
    display: none;
}
div.feedbot
{
    display: none;
    padding: 10px 15px 10px 15px;
    /*background-color: #e1f0f4;*/
    background-color: #c4e2ea;
}

input.intxt-full
{
    width: 400px;
}

#feeditemblank
{
    display: none;
}

#feeddeleteblank
{
    display: none;
}
div.feeddeletemsg
{
}
span.deletemsgbig
{
    font-size: 1.6em;
    font-weight: bold;
    line-height: 50px;
}
span.deletemsgmed
{
    font-size: 1.2em;
}
span.deletemsgtny
{
    font-size: 0.8em;
}
span.deletemsgask
{
    font-weight: bold;
    line-height: 50px;
}
button.feeddeletey
{
    /*background-color: lightgreen;*/
}
button.feeddeleten
{
    /*background-color: tomato;*/
}
#feedtypefailedmsg
{
    font-size: 14pt;
    line-height: 40px;
}
#feedoptionsform
{
    text-align: left;
    margin-bottom: 25px;
}
div.inputfeedoption
{
    line-height: 30px;
}
