#maincontainer
{
    padding: 25px;
}
#addnewfeedbtn
{
    cursor: pointer;
    cursor: hand;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 200px;
}
div.inputmessage
{
    text-align: left;
}

#feedlistarea
{
    padding-top: 15px;
}

div.feeditem
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    border-bottom: 1px solid silver;
}
div.feeditemleft
{
    float: left;
    width: 400px;
    cursor: move;
}
div.feeditemleftbold
{
    font-weight: bold;
}
div.feeditemleft small
{
    color: gray;
    font-size: x-small;
}
div.feeditemright
{
    float: right;
    line-height: 2.4em;
}
div.feeditemright a
{
    padding-left: 10px;
}
div.feeditemeditform
{
    width: 570px;
    padding: 15px;
    background-color: lightyellow;
    border-bottom: 2px solid silver;
}
div.feeddeletemsg
{
    width: 570px;
    padding: 15px;
    background-color: lightyellow;
    border-bottom: 2px solid silver;
}
span.deletemsgbig
{
    font-size: 18pt;
    line-height: 50px;
}
span.deletemsgmed
{
    font-size: 14pt;
}
span.deletemsgask
{
    font-weight: bold;
    line-height: 50px;
}
input.feeddeletey
{
    background-color: lightgreen;
}
input.feeddeleten
{
    background-color: tomato;
}
#feedtypefailedmsg
{
    font-size: 14pt;
    line-height: 40px;
}
