table th
{
    width: 100px;
}

#feedlistarea
{
    padding-top: 25px;
}

div.feeditem
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    cursor: hand;
}

div.feeditem small
{
    color: gray;
    font-size: x-small;
}

div.feeditem:hover
{
    background-color: khaki;
}
