td.formtitle 
{ 
    padding-bottom: 25px;
}

span.formtitle 
{ 
    font-size: x-large; 
}

td.fieldlabel
{
    width: 150px;
    text-align: right;
    font-weight: bold;
}

div#indexcontent
{
    padding: 50px;
}
