/* spinner */

.b-spinner
{
    z-index: 2601;
    position: absolute;
    width: 120px;
    padding: 10px;
    background: gold;
}
.b-spinner-image
{
    float: left;
    padding: 5px;
}
.b-spinner-message
{
    float: right;
    padding: 5px;
    line-height: 24px;
}
