/* layout */

html, body
{
    margin: 0;
    border: 0;
}
body
{
    color: black;
    background: white;
}
div, form
{
    margin: 0;
}
#mbar
{
    height: 25px;
    padding: 5px 10px 0px 10px;
    float: left;
}
#mbar span
{
    padding-right: 10px;
}
#ubar
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px 0px 10px;
}
#ubar span
{
    padding-left: 10px;
}
.bsep
{
    height: 0;
    position: absolute;
    top: 28px;
    width: 100%;
    border-top: 1px solid silver;
    font-size: 1px;
}
#main
{
    position: absolute;
    top: 29px;
    left: 0px;
    width: 100%;
}
.mmsg
{
    padding: 25px;
}


#aA0
{
    /* void */
}
#bA0
{
    width: 100%;
}
#bAL
{
    width: 200px;
    padding: 10px;
}
#bAR
{
    padding: 10px;
    text-align: right;
    font-size: large;
    background-color: chocolate;
    color: white;
}


#cmsc
{
    background-color: red;
    overflow: auto;
}


.ctit
{
    line-height: 50px;
    padding-left: 10px;
    overflow: hidden;
    color: white;
}
.cbox
{
    /* void */
}
#lcol
{
    float: left;
    width: 250px;
}
#lcol .cbox
{
    overflow: auto;
}
#rcol
{
    margin-left: 250px;
}
#rcol .ctit
{
    text-align: right;
    padding-right: 10px;
    font-size: large;
    font-style: italic;
    background-color: chocolate;
}
#rcol .cbox
{
    overflow: hidden;
}
#rbox
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}
#rbox td
{
    border-top: 1px solid black;
}
#bbox
{
    line-height: 25px;
    padding-left: 10px;
    overflow: hidden;
    background-color: black;
    color: white;
}
#rbcA
{
    /* void */
}
#rbdA
{
    height: 100%;
    overflow: auto;
    background-color: khaki;
}
#rbcB
{
    width: 250px;
}
#rbdB
{
    height: 100%;
    overflow: auto;
    background-color: navajowhite;
}
#rbcC
{
    /* void */
}
#rbdC
{
    height: 100%;
    overflow: auto;
    background-color: silver;
}

/* custom */

#lcol
{
    border-right: 1px solid saddlebrown;
}
.cmsitm
{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.cmsitm-s
{
    background-color: bisque;
}
.cmsitm-h
{
    cursor: pointer;
    cursor: hand;
}
.cmsitm-h a
{
    color: blue;
}
