div#topbar
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 15px;
    background-color: wheat;
}

div#dashboardcontent
{
    padding: 10px;
    padding-left: 25px;
}

/* draft */

#main-panel
{
}

.panel-title
{
    color: gray;
    font-size: medium;
    font-weight: bold;
}

#right-panel
{
    background-color: wheat;
    padding: 5px;
}

.panel-list
{
    margin-top: 5px;
}

#cms-panel
{
    vertical-align: top;
    text-align: right;
    padding: 10px;
    border-right: 1px solid gray;
}

#cms-panel table
{
    width: 200px;
    border-top: 1px solid gray;
}

#rss-chanels-panel
{
    vertical-align: top;
    padding: 10px;
}

#rss-chanels-panel table
{
    width: 200px;
    border-top: 1px solid gray;
}

#rss-items-panel
{
    padding: 10px;
    vertical-align: top;
    background-color: white;
}

#rss-items-panel h2
{
    background-color: gray;
    padding: 2px;
    margin-left: -2px;
    color: white;
}

#rss-items-panel table
{
    padding-top: 5px;
    width: 500px;
    margin-left: -2px;
}

#queue-panel
{
    padding: 10px;
    background-color: white;
}

#queue-panel h2
{
    background-color: gray;
    padding: 2px;
    margin-left: -2px;
    color: white;
}

#queue-panel table
{
    padding-top: 5px;
    width: 500px;
    margin-left: -2px;
}

.cms-item
{
    font-size: small;
    text-align: right;
    margin-right: -2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
}

.cms-item-hover
{
    background-color: wheat;
    margin-right:-16px;
    padding-right:16px;
    cursor: pointer;
    cursor: hand;
}

.cms-item-selected
{
    font-weight: bold;
}

.channel-item
{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -2px;
}

.channel-item-selected
{
    background-color: white;
    margin-left:-15px;
    padding-left:13px;
}

.rss-item-title
{
    float: left;
}

.rss-item-date
{
    float: right;
}
