div#topbar
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 15px;
    background-color: bisque;
}

div#dashboardcontent
{
    padding: 10px;
    padding-left: 25px;
}

.dashboardinfo
{
    font-style: italic;
}
