/* general */

*
{
    font-size: small;
    font-family: sans-serif;
}

body 
{
    margin: 0;
    padding: 0;
}

a
{
    color: navy;
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;
}

a:hover
{
    color: blue;
}

h1
{
    font-size: x-large;
}

h2
{
    font-size: large;
}

/* ab spinner */

.ab-spinner-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
}

.ab-spinner-div table
{
    padding: 10px;
}

.ab-spinner-div-inner
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

/* ab alert */

.ab-alert-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

.ab-alert-div-inner
{
    padding: 50px 20px 50px 20px;
    border: gray 2px solid;
    width: 320px;

    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.ab-alert-close
{
    /* void */
}

/* form */

form h1
{
    text-decoration: underline;
    font-size: x-large;
    padding-bottom: 0.5em;
    margin: 0;
}
form dt
{
    clear: both;
    width: 30%;
    float: left;
    text-align: right;
    font-weight: bold;
    padding-right: 0.25em;
    line-height: 25px;
}
form dd
{
    float: left;
    width: 60%;
    margin: 0 0 0.5em 0.25em;
}
form .buttons
{
    margin-top: 1em;
}
form .message
{
    margin-top: 0.25em;
    color: red;
}
