/* general */

*
{
    font-size: small;
    font-family: sans-serif;
}

body 
{
    margin: 0;
    padding: 0;
}

a
{
    color: navy;
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;
}

a:hover
{
    color: blue;
    cursor: pointer; 
    cursor: hand;
}

h1
{
    font-size: x-large;
}

h2
{
    font-size: large;
}

/* ab spinner */

.ab-spinner-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
}

.ab-spinner-div table
{
    padding: 10px;
}

.ab-spinner-div-inner
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

/* ab alert */

.ab-alert-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

.ab-alert-div-inner
{
    padding: 50px 20px 50px 20px;
    border: gray 2px solid;
    width: 320px;

    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.ab-alert-close
{
    /* void */
}

/* form */

td.formlabel
{
    width: 150px;
    text-align: right;
    font-weight: bold;
}

td.formtitle 
{ 
    padding-bottom: 25px;
}

td.formtitle span
{ 
    font-size: large; 
}

td.formloading
{
    vertical-align: top;
}

tr.formbutton
{
    height: 50px;
    vertical-align: bottom;
}

tr.formbutton td
{
    text-align: right;
}
