/* general */

*
{
    font-size: small;
    font-family: sans-serif;
}

body 
{
    margin: 0;
    padding: 0;
}

a
{
    color: navy;
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;
}

a:hover
{
    color: blue;
}

h1
{
    font-size: x-large;
}

h2
{
    font-size: large;
}

/* ab spinner */

.b-spinner-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
}

.b-spinner-div table
{
    padding: 10px;
}

.b-spinner-div-inner
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

/* ab alert */

.b-alert-div
{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

.b-alert-div-inner
{
    padding: 50px 20px 50px 20px;
    border: gray 2px solid;
    width: 320px;

    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.b-alert-close
{
    /* void */
}

/* form */

form h1
{
    text-decoration: underline;
    font-size: x-large;
    margin-bottom: 25px;
}
form th
{
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    line-height: 25px;
}
form td
{
    /* void */
}
form .buttons
{
    padding-top: 15px;
}
form .message
{
    padding-top: 5px;
    color: red;
}
