div#indexcontent
{
    padding: 50px;
}

table#container
{
    padding: 25px;
}

td#bigtitle
{
    vertical-align: top;
    padding: 50px;
    padding-right: 100px;
}

td#bigtitle span
{
    font-size: xx-large;
}
