#logo
{
    float: left;
    padding: 50px;
    line-height: 150px;
    border-right: 1px solid silver;
}
#logo span
{
    font-size: 44px;
    color: silver;
}
div.rightform
{
    float: left;
    padding-left: 50px;
}
div.formcontainer
{
    width: 160px;
    height: 180px;
}
div.bottomlnk
{
}
span.msgbig
{
    font-size: 14pt;
}
span.msgsmall
{
    font-size: 10pt;
}
