#maincontainer
{
    overflow: hidden; /* avoid scrollbars */
}

#queuecontainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 500px;
    margin-left: -1px;
    border: 1px solid gray;
}
#queueheader
{
    height: 61px;
    line-height: 61px;
    background-color: silver;
    border-bottom: 1px solid gray;
    margin-top: -1px;
}
div.headersep
{
    float: right;
    border-right: 2px solid gray;
    margin-right: 10px;
    padding-left: 10px;
}
div.headerlabel
{
    float: right;
    text-transform: capitalize;
    font-weight: bold;
}
#queueheadertitle
{
    float: left;
    padding-left: 15px;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}
button.queuepubbtn
{
    float: right;
    width: 36px;
    height: 36px;
    font-size: 9px;
    font-weight: bolder;
    margin-top: 12px;
    margin-left: 5px;
}
#enqueuecontainer
{
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
}
#enqueuecontainer td
{
    text-align: center;
    white-space: nowrap;
}
#intervalcontainer
{
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    margin-right: 10px;
}
#intervalcontainer td
{
    text-align: center;
    white-space: nowrap;
}


#queueheaderclear
{
    clear: both;
}

#queuemiddle
{
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 2px;
}

/* ENTRY */

div.entry
{
    line-height: 30px;
    padding-top: 3px;
    background-color: whitesmoke;
}
div.entryclosed
{
    border: 2px solid white;
    border-bottom: 1px solid lightgray;
}
div.entryopen
{
    border: 2px solid brown;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    margin-top: -2px;
}
div.entrydndhdr
{
    float: left;
    width: 25px;
    line-height: 5px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: move;
    background-color: white;
}
div.entrydndhdrdec
{
    border-bottom: 1px solid silver;
}
div.entrybutton
{
    float: left;
    width: 40px;
    margin-right: 5px;
    margin-top: -3px;
    line-height: 30px;
    text-align: center;
}
div.entryhead
{
    margin-right: 280px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.entrysource
{
    color: gray;
    font-size: small;
    line-height: 15px;
}
div.entrytitle
{
    font-size: 14pt;
    line-height: 20px;
}
div.entrytitle a
{
    text-decoration: none;
    font-weight: bold;
}
div.entryinfo
{
    float: right;
    margin-top: -25px;
    margin-right: 50px;
}
div.entrylinks
{
    float: right;
    margin-top: -25px;
    margin-right: 15px;
}
a.entryview
{
    text-decoration: none;
    font-weight: bold;
}
div.entryclear
{
    clear: both;
}

/* CONTENT */

div.content
{
    border: 2px solid brown;
    border-top: 2px solid white;
    padding: 0px 15px 15px 15px;
    border-collapse: collapse;
    margin-top: -3px;
}
div.contenttitle
{
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
div.contentbody
{
    padding: 5px 0px 5px 0px;
}

/* EDIT FORM */

div.editform
{
    border: 2px solid brown;
    border-top: 2px solid white;
    padding: 0px 15px 15px 15px;
    border-collapse: collapse;
    margin-top: -3px;
    padding-top: 15px;
    padding-left: 53px;
}
div.editformtitle
{
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
input.editformtitle
{
    width: 600px;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid gray;
    padding: 5px 2px 5px 2px;
}
textarea.editformbody
{
    width: 700px;
    height: 180px;
    color: #404040;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid gray;
    padding: 0px 0px 0px 2px;
}
input.editformbutton
{
    width: 80px;
    line-height: 18px;
    margin-right: 10px;
}
