#main
{
    <?php if(strpos($_SERVER['HTTP_USER_AGENT'], "MSIE") > 0) : ?>
    padding-top: 15px;
    <?php endif ?>
    padding-left: 25px;
}
table th
{
    width: 180px;
}
#input_url_ro
{
    float: left;
    font-size: x-large;
    margin-right: 5px;
}

#input_cms_type_ro
{
    float: left;
    font-size: large;
}

#input_manager_url_ro
{
    float: left;
    font-size: medium;
}
