table th
{
    width: 180px;
}
#discover_url_display
{
    float: left;
    font-size: x-large;
    margin-right: 5px;
}

#blog_type_display
{
    float: left;
    font-size: large;
}

#manager_url_display
{
    float: left;
    font-size: medium;
}
