#main
{
    padding-top: 15px;
}
form
{
    padding-left: 50px;
}
table th
{
    width: 180px;
}
#input_url_ro
{
    float: left;
    font-size: x-large;
    margin-right: 5px;
}

#input_blog_type_ro
{
    float: left;
    font-size: large;
}

#input_manager_url_ro
{
    float: left;
    font-size: medium;
}
