#discover_url_display
{
    float: left;
    font-size: x-large;
    margin-right: 5px;
}

#blog_type_display
{
    float: left;
    font-size: large;
}

#manager_url_display
{
    float: left;
    font-size: medium;
}
#blogtypes td
{
    padding: 5px 25px 5px 0px;
}
