table th
{
    width: 100px;
}

#bloglistarea
{
    padding-top: 25px;
}

div.blogitem
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    border-bottom: 1px solid silver;
}
div.blogitemleft
{
    float: left;
}
div.blogitemleft small
{
    color: gray;
    font-size: x-small;
}
div.blogitemright
{
    float: right;
    line-height: 2.4em;
}
