Listen 0.0.0.0:82
ServerName 0.0.0.0
<VirtualHost 0.0.0.0:82>
    DocumentRoot /var/www/postcanal
    <Directory /var/www/postcanal>
        AllowOverride All
        deny from all
        allow from 127.0.0.1
        allow from 192.168
        allow from 10.0
    </Directory>
    ErrorLog /var/log/apache2/postcanal_error_log
    LogLevel warn
	CustomLog /var/log/apache2/postcanal_access_log combined
    ServerSignature Off
</VirtualHost>
