/* general */

*
{
    font-size: 10pt;
    font-family: sans-serif;
}

html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden; /* avoid unwanted scrollbars */
    background-color: white;
}

div, form
{
    margin: 0;
}

a
{
    color: midnightblue;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

a:hover
{
    color: blue
}

h1
{
    font-size: 18pt;
    text-transform: capitalize;
}

h2
{
    font-size: 12pt;
    text-transform: capitalize;
}

/* tab panel */

div.tabhead
{
    height: 57px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
    width: 50%;
    border-collapse: collapse;
}
div.tabitem
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    border: 1px solid silver;
    border-top: 2px solid silver;
    margin-right: 25px;
    cursor: pointer;
    cursor: hand;
    margin-top: 25px;
    margin-bottom: 20px;
}

div.tabitem-selected
{
    border-top: 2px solid orange;
    border-bottom: 1px solid white;
    /* background-color: moccasin; */
}
div.tabcontainer
{
    clear: left;
}

/* topbar */

#topbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: tomato;
    border-bottom: 1px solid maroon;
}

#topleftbar
{
    float: left;
}
#topleftbar ul
{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    line-height: 40px;
}
#topleftbar li
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}
#bloglstbar
{
    padding-left: 30px;
}

#toprightbar
{
    float: right;
}
#toprightbar ul
{
    margin: 0;
    padding: 0;
    padding-right: 15px;
    line-height: 40px;
}
#toprightbar li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}
#profilebar
{
    padding-right: 30px;
}

/* main container */

#maincontainer
{
    position: absolute;
    top: 41px;
    overflow: auto;
}
#maincontainer h1
{
    line-height: 25px;
    margin: 0;
    padding: 0;
}

/* flash message */

#flashmessage
{
    position: absolute;
    top: 60px;
    left: 5%;
    width: 86%;
    padding: 2%;
    font-size: 22pt;
    background-color: gold;
    text-align: center;
}

/* input (form) */

div.inputcontainer
{
    /* void */
    margin-bottom: 15px;
}
div.inputlabel
{
    line-height: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
div.inputlinks
{
    padding-top: 5px;
}
div.inputbuttons
{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}
div.inputmessage
{
    line-height: 35px;
    font-style: italic;
    text-align: center;
    color: red;
}
