/* topbar */

#topbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: tomato;
    border-bottom: 1px solid maroon;
}

#topleftbar
{
    float: left;
}
#topleftbar ul
{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    line-height: 40px;
}
#topleftbar li
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}
#bloglstbar
{
    padding-left: 30px;
}

#toprightbar
{
    float: right;
}
#toprightbar ul
{
    margin: 0;
    padding: 0;
    padding-right: 15px;
    line-height: 40px;
}
#toprightbar li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}
#profilebar
{
    padding-right: 30px;
}

/* main container */

#maincontainer
{
    position: absolute;
    top: 41px;
    overflow: auto;
}
#subcontainer
{
    margin-top: -15px;
    padding-left: 15px;
    padding-bottom: 25px;
}
#subcontainer h1
{
    font-size: x-large;
    text-transform: capitalize;
    text-decoration: underline;
}
