/* avoid unwanted scrollbars */

body
{
    overflow: hidden;
}

#maincontainer
{
    overflow: hidden;
}

/* dialogs & forms */

#noblogmsg
{
    width: 240px;
}

/* containers */

div.containerhead
{
    padding: 10px 0px 10px 15px;
    background-color: sienna;
    color: white;
}
div.containerhead a
{
    color: azure;
}
div.containerhead a:hover
{
    color: white;
}

/* feeds */

div#feedlistarea
{
    overflow: auto;
}

div#feedareahead span.title
{
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}
div#feedareahead span.feeddisplay
{
    padding-left: 30px;
}
div.feeditem
{
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    cursor: hand;
}
div.feeditem:hover
{
    background-color: khaki;
}

/* articles */

div.article
{
    padding: 2px;
    padding-left: 15px;
    border-bottom: 1px solid silver;
}
div.articleall
{
    /* void */
}
div.articlethr
{
    /* void */
}
td.articletitle
{
    text-align: left;
}
td.articledate
{
    text-align: right;
}
td.articlebuttons
{
    text-align: right;
}
