/* avoid browser scrollbars */

body
{
    overflow: hidden;
}

/* containers */

.dashboardcontainers
{
    position: absolute;
    background-color: ghostwhite;
    padding: 2px;
}
.dashboardcontainers h2
{
    margin: 0;
    padding-left: 5px;
    background-color: sienna;
    color: ghostwhite;
    border-bottom: 1px solid tan;
    line-height: 30px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.containercontentarea
{
    overflow: auto;
}
.containerfooter
{
    line-height: 20px;
    vertical-align: middle;
    padding-right: 5px;
    background-color: #FDF8F2;
    border-top: 1px solid gainsboro;
    color: dimgray;
    text-align: right;
}
#feedscontainer
{
    border-right: 1px solid silver;
    background-color: snow;
}
#feedscontainer .feeditem
{
    padding: 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    cursor: hand;
}
#feedscontainer .feeditem-selected
{
    background-color: #FFD700;
    font-weight: bold;
}
#newscontainer
{
    background-color: snow;
}
#newscontainer .newsitem
{
    padding: 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    cursor: hand;
}
#newscontainer .newsitem-selected
{
    background-color: #FFD700;
    font-weight: bold;
}
#queuecontainer
{
    background-color: snow;
}

/* dialogs */

#noblogmsg
{
    width: 240px;
}
