body
{
    overflow: hidden; /* avoid body scrollbars */
}

/* dialogs & forms */

#noblogmsg
{
    width: 240px;
}

/* bottom bar */

#bottombar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: wheat;
    border-top: 1px solid saddlebrown;
}
#bottomleftbar
{
    float: left;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-left: 15px;
}
#bottomleftbar span
{
    padding-right: 10px;
}
#bottomleftbar span.title
{
    font-weight: bold;
}
#bottomrightbar
{
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 15px;
}
#bottomrightbar span
{
    padding-left: 10px;
}
#bottomrightbar span.hctl
{
    cursor: pointer;
    cursor: hand;
}

/* queue list bar */

#queuelistbar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
