<?xml version="1.0" encoding="utf-8"?>
<environment>
    <base>
        <url>http://localhost:82</url>
    </base>
    <database>
        <default>
            <driver>mysql</driver>
            <host>localhost</host>
            <username>postcanal</username>
            <password>postcanal</password>
            <db>postcanal</db>
        </default>
    </database>
    <session>
        <name>postcanal</name>
        <expiration>43200</expiration>
    </session>
    <view>
        <compression>false</compression>
        <googleAnalytics>false</googleAnalytics>
    </view>
    <mailer>
        <default>
            <transport>smtp</transport>
            <server>mail.postcanal.com</server>
            <auth>login</auth>
            <ssl>ssl</ssl>
            <port>465</port>
            <sender>
                <default>
                    <username>noreply@postcanal.com</username>
                    <password>irKYjCW4</password>
                    <email>noreply@postcanal.com</email>
                </default>
            </sender>
            <!--
            <transport>smtp</transport>
            <server>smtp.gmail.com</server>
            <auth>login</auth>
            <ssl>ssl</ssl>
            <port>465</port>
            <sender>
                <default>
                    <username>john.doe@castilho.biz</username>
                    <password>fulano</password>
                    <email>john.doe@castilho.biz</email>
                </default>
            </sender>
            -->
            <!-- relay time and count prevent mailer spamming
                 blocking excessive number of messages from the same sender -->
            <relay>
                <time>43200</time>
                <count>10</count>
            </relay>
        </default>
        <!--
        <default>
            <transport>sendmail</transport>
            <sender>
                <default>
                    <email>postcanal@localhost</email>
                </default>
            </sender>
            <relay>
                <time>43200</time>
                <count>1000</count>
            </relay>
        </default>
        -->
    </mailer>
    <httpClient>
        <maxHeaders>30</maxHeaders>
        <maxBodyLenght>5242880</maxBodyLenght>
    </httpClient>
    <webservice>
        <!-- validates communication between frontend and backend. avoiding
           direct access in webservices -->
        <token>k20Wuo3W1pYWwuD1Bc4z5mYn9Iq1wv6XbHx82Vk5o1ESJe2Bzc</token>
        <backendUrl>/backend.py</backendUrl>
        <frontendUrl>/webservice</frontendUrl>
    </webservice>
    <application>
        <profile>
            <!-- default values for profile quota -->
            <quotaBlog>999</quotaBlog>
            <quotaFeed>999</quotaFeed>
            <quotaPublicationPeriod>60</quotaPublicationPeriod>
        </profile>
        <feed>
            <minimumUpdateTime>60</minimumUpdateTime>
            <!-- discover life time (feed cache) -->
            <discoverLife>1296000</discoverLife>
        </feed>
        <queue>
            <!-- queue publication date margin from current time -->
            <publicationMargin>60</publicationMargin>
            <publicationPeriod>3600</publicationPeriod>
            <suggestMaxEntries>10</suggestMaxEntries>
            <entryWorkingTimeout>60</entryWorkingTimeout>
        </queue>
        <support>
            <email>help@postcanal.com</email>
            <subjectPrefix>[support]</subjectPrefix>
        </support>
        <report>
            <username>report</username>
            <password>report</password>
        </report>
    </application>
    <zend>
        <date>
            <formatShort>hh:mm a</formatShort>
            <formatLong>MMM dd - hh:mm a</formatLong>
        </date>
    </zend>
    <recaptcha>
        <!-- postcanal.com -->
        <publicKey>6Lcr7ggAAAAAAKakGNXwElFLP4VrziH59-AOvoZh</publicKey>
        <privateKey>6Lcr7ggAAAAAACfKX4LwjoigNUpEK1D6xATPis_B</privateKey>
        <!-- any domain -->
        <!--
        <publicKey>6Leu7ggAAAAAAAQ6HuvVRg-iFJhqmKcOrE0tjr8d</publicKey>
        <privateKey>6Leu7ggAAAAAAFTzzmf9FZefeb0y3EIUbgWeLGA9</privateKey>
        -->
    </recaptcha>
</environment>
